body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f9;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #0b3c61;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.logo {
  height: 28px;
  margin-right: 20px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  cursor: pointer;
  font-weight: 500;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

/* Dashboard Section */
.dashboard {
  padding: 30px;
}

.section-title {
  font-size: 20px;
  color: #0b3c61;
  font-weight: 600;
  margin-bottom: 20px;
}

/* Table Card */
.card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
}

/* Controls */
.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.table-controls select, 
.table-controls input {
  padding: 6px 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Table */
.leads-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.leads-table th {
  background-color: #0b3c61;
  color: white;
  padding: 10px;
  text-align: left;
}

.leads-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.leads-table tr:nth-child(even) {
  background-color: #f9fbfd;
}

/* Status styles */
.status {
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 13px;
  color: #fff;
}

.status.active {
  background-color: #28a745;
}

.status.pending {
  background-color: #ffc107;
}

/* Buttons */
.edit-btn, .delete-btn {
  border: none;
  padding: 6px 8px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.edit-btn {
  background-color: #007bff;
}

.delete-btn {
  background-color: #dc3545;
}

/* Footer */
.table-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}

.pagination button {
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.pagination button.active {
  background-color: #0b3c61;
  color: white;
}

.pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.add-lead-container {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.add-lead-container button {
  background-color: #0b3c61;   
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  transition: all 0.2s ease-in-out;
}