/* ------- GENERAL & LAYOUT ------- */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f5f5f5;
  margin: 0;
}

.top-bar {
  background: #0b2a5b;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 40px;
}

.logo { font-size: 22px; font-weight: bold; }
.logo span { color: #f15623; }

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 50px;
}

.login-box {
  background: #fff;
  padding: 40px;
  width: 360px;
  box-shadow: 0px 3px 10px rgba(0,0,0,.1);
  border-radius: 10px;
  text-align: center;
}
.login-box h2{
  padding-bottom: 7px;
  margin-top: 2px;
}
.login-box a{
  margin-top: 50px;
}
label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: 500;
}

.required { color: red; }

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Buttons */
.btn-orange {
  background: #f15623;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
}
.btn-orange:hover { background: #d84514; }

.btn-blue {
  background: #0b2a5b;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
.btn-blue:hover { background: #0a1f45; }

/* Error style */
.error {
  border: 1px solid red !important;
}
.error-message {
  color: red;
  font-size: 13px;
  text-align: left;
}

.forgot-link {
  margin-top: 5px;   /* small space above the link */
  color: #333;
 
}

.forgot-link:hover {
  text-decoration: underline;
}


hr {
  margin: 25px 0; /* Keeps space above & below */
  border: 0.5px solid #ddd;
}
