/* General Page Style */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Header */
.top-bar {
  background-color: #0b2a5b;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo span {
  color: #f15623;
}

.contact a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.contact span {
  margin: 0 5px;
}

/* Login Container */
.login-container {
  display: flex;
  justify-content: center;

  align-items: center;
  height: 80vh;
}

.login-box {
  background-color: #fff;
  padding: 40px;
  width: 360px;
  height: 400px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 10px;
  margin-top: 15x;
  color: #333;
}

label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: 500;
}

.required {
  color: red;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.password-wrapper {
  position: relative;
}

.remember-row {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  color: #555;
}

.remember-row input {
  margin-right: 8px;
}

/* Buttons */
.btn-orange {
  background-color: #f15623;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-orange:hover {
  background-color: #d84514;
}

.btn-blue {
  background-color: #0b2a5b;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-blue:hover {
  background-color: #0a1f45;
}

/* Links & Text */
.forgot-link {
  display: block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
}

.forgot-link:hover {
  text-decoration: underline;
}

.agreement {
  font-size: 13px;
  color: #777;
  margin-top: 15px;
}

hr {
  margin: 25px 0;
  border: 0.5px solid #ddd;
}
