/* ------- GENERAL & LAYOUT ------- */
body {
  font-family: 'Segoe UI', sans-serif;
  background: #f5f5f5;
  margin: 0;
}

.top-bar {
  background: #0b2a5b;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 12px 40px;
}

.logo { font-size: 22px; font-weight: bold; }
.logo span { color: #f15623; }

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin-top: 50px;
}

.login-box {
    background: #fff;
    padding: 40px;
    width: 360px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    text-align: center;
}


.login-box h2{
  padding-bottom: 7px;
  margin-top: 2px;
}
.login-box a{
  margin-top: 50px;
}
label {
  display: block;
  text-align: left;
  margin: 10px 0 5px;
  font-weight: 500;
}

.required { color: red; }

input[type="email"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Buttons */
.btn-orange {
  background: #f15623;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 12px;
}
.btn-orange:hover { background: #d84514; }

.btn-blue {
  background: #0b2a5b;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}
.btn-blue:hover { background: #0a1f45; }

/* Error style */
.error {
  border: 1px solid red !important;
}
.error-message {
  color: red;
  font-size: 13px;
  text-align: left;
}

.forgot-link {
   /* small space above the link */
  color: #333;
  margin-bottom: 10px;
 
}

.forgot-link:hover {
  text-decoration: underline;
}


hr {
  margin: 25px 0; /* Keeps space above & below */
  border: 0.5px solid #ddd;
}
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding: 10px 38px 10px 12px; /* space for eye icon */
  font-size: 1rem;
  box-sizing: border-box;
}

.pw-toggle {
  position: absolute;
  right: 6px;
  background: transparent;
  border: none;
  padding: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  line-height: 0;
}

.pw-toggle:hover,
.pw-toggle:focus {
  background: rgba(0,0,0,0.05);
  outline: none;
}
.contact a {
  color:#f5f5f5;
}

.eye-icon { fill: currentColor; color: #666; }

/* .password-container {
    position: relative;
    width: 100%;
}
.password-container input {
    width: 100%;
    padding-right: 35px; /* space for icon */


    /* position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
} */ 
