  <header class="top-bar">
    <div class="logo">CRM <span>Lead Management</span></div>
    <div class="nav-right">
      <div class="profile-menu">
        <i class="bi bi-gear profile-pic settings-icon" id="profilePic"></i>
        <div class="dropdown" id="profileDropdown">
          <button id="back" class="drop-item">Back</button>
          <button id="delete-profile" class="drop-item">Delete Profile</button>
          <button id="logout" class="drop-item">Logout</button>

        </div>
        
      </div>
       <img src="/Frontend/assests/profile.png" class="profile-pic" id="view-profile"></div>
    </div>
  </header>